/* biginning of custom styling */
/* border radius of the dropdown */
.br3{
    border-radius: 10px;
  }
  .anim {
    overflow: hidden;
    width: 90vw;
    
  }
  .borderLine{
    position: absolute;
    top: 0;
    inset: 0;
    /* overflow: hidden; */
  }
  
  .borderLine2::before {
  content: '';
  width: 80vw;
  height: 78vh;
  background-color: blue;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 20px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  animation: roll 6s linear infinite;
}
.borderLine2::after {
  content: '';
  width: 80vw;
  height: 78vh;
  background-color: blue;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 20px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  animation: roll 6s linear infinite;
  animation-delay: -3s;
  
  }
.borderLine::before {
    content: '';
    width: 80vw;
    height: 78vh;
    background-color: blue;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 20px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    animation: roll 6s linear infinite;
    animation-delay: -1.5s;
    
  }
    
  .borderLine::after {
    content: '';
    width: 80vw;
    height: 78vh;
    background-color: blue;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 20px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    animation: roll 6s linear infinite;
    animation-delay: -4.5s;
    
    }
  
  @keyframes roll{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .br{
    border-top-left-radius: 20px;
  }
  .br1{
    border-bottom-left-radius: 20px;
    z-index: 20;
  }
  .pushdown {
    transform: translateY(-8vh);
    
    
  }
  .br2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .dropdown{
  
  
  outline: none;
  border: none;
  }
  .containBody {
    background-color: #1c1c1c;
    color: white;
    position: absolute;
    min-height: 120vh;
    width: 95.5vw;
  }

  .nav{
    background-color: #1c1c1c;
    left:5vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
  .join {
    transform: translateX(-25vw);
  }
  @media only screen and (max-width:768px ) {
    .resize{ margin: 0px;
      
    }
    .join{
      
      margin-right: -25vw;
    }
    .containBody {
      width:96.5vw;
    }
  .color {
    background-color: #23242a;
    cursor: pointer;
  }
  
  
    .hang{
    /* position: fixed; */
    
    font-weight: 900;
    
    width: 40vw;
  } 
  .pushdown{
    height: 78vh;
  }
  }
  .smooth {
    transition: 0.5s;
  }
  
  @media only screen and (min-width:768px ) {
    .containBody{
      width: 99vw;
    }
    .join{
      
      margin-right: -140vw;
    }
    .pushdown{
      height: 78vh;
      /* margin-left: 0.5vw;
      margin-right: 0.5vw; */
    }
    .hang{
      
      
      font-weight: 900;
      width: 50vw;
    } 
    .resize{ margin: 0px;
      
      width: 50vw;
      transform: translateX(-30vw);
   }
   
   div Navbar {
    background-color: red;
   }
   .dropdown {
  
    transform: translateX(100vw);
  }
  
  }
  .passcode {
    display: flex;

  }
  .passcode .textinput {
    border:1.6px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    opacity: 1;
    background-color: white;
    color: #1c1c1c;
    padding: 0px 10px;
    font-weight: 900;
    width: 450px;
    transition: 1s;
  }
  .passcode .textinput:active{
    border: 1.6px solid #3c9E65;
  }
  .containedImages:hover{
    border: 2px solid #3c9E65;
    height: 45px;
    border-left: none;
  }
  .containedImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 40px;
    background-color: #1c1c1c;
    border:1.6px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
  }
  .containedImages img:nth-child(1) {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
  }
  .containedImages img:nth-child(2){
    cursor: pointer;
    
  }
   /* ending of custom styling */
  