/* biginning of custom styling */


  
  .borderLine2::before {
  content: '';
  width: 400px;
  height: 78vh;
  background-color: blue;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 20px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  animation: roll 6s linear infinite;
}
.borderLine2::after {
  content: '';
  width: 400px;
  height: 78vh;
  background-color: blue;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 20px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  animation: roll 6s linear infinite;
  animation-delay: -3s;
  
  }
.borderLine::before {
    content: '';
    width: 400px;
    height: 78vh;
    background-color: blue;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 20px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    animation: roll 6s linear infinite;
    animation-delay: -1.5s;
    
  }
    
  .borderLine::after {
    content: '';
    width: 400px;
    height: 78vh;
    background-color: blue;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 20px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    animation: roll 6s linear infinite;
    animation-delay: -4.5s;
    
    }
  
  @keyframes roll{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  /* auth js */


  .passcode .textinput:active{
    border: 1.6px solid #3c9E65;
  }
  .containedImages:hover{
    border: 2px solid #3c9E65;
    height: 45px;
    border-left: none;
  }
  .containedImages {
    
    border:1.6px solid grey;
  }
  .containedImages img:nth-child(1) {
    display: none;
  }

   /* ending of custom styling */
  
